%h2 New Thought
%form{:action => "/lists/#{@list.id}/thoughts/create", :method => 'post', :class => 'form-stacked'}
  %textarea{:name => 'thought_body'}
  %input{:type => 'submit', :name => 'submit', :value => 'Submit', :class => 'btn primary'}

%h2 All Thoughts
- if !@thoughts.blank?
  %dl
    -for thought in @thoughts
      %dt
        %a{:href => "/lists/#{@list.id}/thoughts/edit/#{thought.id}"} #{thought.body}
      %dd
        = escape_html thought.updated_at.strftime("%B %d, %Y at %I:%M %p")
        %form{:action => "/lists/#{@list.id}/thoughts/#{thought.id}", :method => 'post'}
          %input{:type => 'hidden', :name => '_method', :value => 'delete'}
          %input{:type => 'hidden', :name => 'listId', :value => "#{@list.id}"}
          %input{:type => 'hidden', :name => 'id', :value => "#{thought.id}"}
          %input{:type => 'submit', :value => 'Delete', :class => 'btn danger'}
-else
  %p No Thoughts
