#new
	%form{:action => "/lists/#{@list.id}/thoughts/create", :method => 'post'}
		%dl
			%dt New Thought
			%dd
				%textarea{:name => 'thought_body'}

			%input{:type => 'submit', :name => 'submit', :value => 'Submit'}

#list
	- if !@thoughts.blank?
		%dl
			%p All Thoughts
			-for thought in @thoughts
				%dt
					%a{:href => "/lists/#{@list.id}/thoughts/#{thought.id}"} #{thought.body}
				%dd
					= escape_html thought.updated_at.strftime("%B %d, %Y at %I:%M %p")
					%form{:action => "/lists/#{@list.id}/thoughts/#{thought.id}", :method => 'post'}
						%input{:type => 'hidden', :name => '_method', :value => 'delete'}
						%input{:type => 'hidden', :name => 'listId', :value => "#{@list.id}"}
						%input{:type => 'hidden', :name => 'id', :value => "#{thought.id}"}
						%input{:type => 'submit', :value => 'Delete'}
	-else
		%p No Thoughts